---
import AboutItem from "../components/AboutItem.astro";
import Footer from "../components/Footer.astro";
import NavButton from "../components/NavButton.astro";
import NavContainer from "../components/NavContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <div class="base-style text-center">
    <main
      class="flex h-full w-full flex-grow flex-col justify-center px-4 sm:mx-auto md:max-w-xl"
    >
      <p class="mb-4 mt-10 font-sans text-5xl font-light md:text-6xl">
        Bilguun Ochirbat
      </p>

      <div class="grid sm:grid-cols-2">
        <div>
          <p class="about-header">- EMAIL -</p>
          <p class="mt-2 font-mono text-lg">
            <a
              href="mailto:hello@bilguun.dev"
              class="link"
              target="_blank"
              rel="noreferrer"
            >
              hello@bilguun.dev
            </a>
          </p>
        </div>
        <div>
          <p class="about-header">- GITHUB -</p>
          <p class="mt-2 font-mono text-lg">
            <a
              href="https://github.com/bilguun0203"
              class="link"
              target="_blank"
              rel="noreferrer"
            >
              github.com/bilguun0203
            </a>
          </p>
        </div>
      </div>

      <p class="about-header">- WORK EXPERIENCE -</p>
      <AboutItem title="CS Lecturer Practitioner" duration="(2024-*)">
        <p>School of Information Technology and Electronics</p>
        <p>National University of Mongolia</p>
      </AboutItem>
      <AboutItem title="AI Engineer" duration="(2024-*)">
        <p>Rookie Systems LLC</p>
        <p class="text-sm text-gray">/ML, CV, LLMs/</p>
      </AboutItem>
      <AboutItem title="AI Engineer" duration="(2022-2024)">
        <p>Ingenius Solutions LLC</p>
        <p class="text-sm text-gray">/ML, CV, Full stack dev./</p>
      </AboutItem>
      <AboutItem title="Software Engineer" duration="(2021-*)">
        <p>SendMN NBFI LLC</p>
        <p class="text-sm text-gray">/Backend & Mobile app development/</p>
      </AboutItem>
      <AboutItem title="ML Engineer" duration="(2019-2021)">
        <p>Onch Data LLC</p>
        <p class="text-sm text-gray">/ML tool development/</p>
      </AboutItem>

      <p class="about-header">- EDUCATION -</p>
      <AboutItem
        title="Master of Science in Computer Science"
        duration="(Jun 2024)"
      >
        <p>School of Information Technology and Electronics</p>
        <p>National University of Mongolia</p>
        <p class="text-sm text-gray">
          (Phoneme based Text-to-Speech Synthesis)
        </p>
      </AboutItem>
      <AboutItem
        title="Bachelor of Science in Computer Science"
        duration="(Jun 2019)"
      >
        <p>School of Engineering and Applied Science</p>
        <p>National University of Mongolia</p>
        <p class="text-sm text-gray">(Smart Speaker (voice assistant))</p>
      </AboutItem>

      <NavContainer>
        <NavButton href="/">Back to Homepage</NavButton>
      </NavContainer>
    </main>

    <Footer />
  </div>
</Layout>
