---
import Layout from "../layouts/Layout.astro";
import AboutItem from "../components/AboutItem.astro";
import NavContainer from "../components/NavContainer.astro";
import NavButton from "../components/NavButton.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="About">
  <div class="base-style">
    <main
      class="container mx-auto flex-grow h-full flex items-center justify-center flex-col"
    >
      <p class="text-4xl md:text-6xl font-sans font-light mb-4 mt-10">
        Bilguun Ochirbat
      </p>

      <p class="about-header">- WORK EXPERIENCE -</p>
      <AboutItem title="AI Engineer" duration="(2024-*)">
        <p>Rookie Systems LLC</p>
        <p class="text-gray text-sm">
          /Machine Learning, Computer Vision, Langchain/
        </p>
      </AboutItem>
      <AboutItem title="AI Engineer" duration="(2022-2024)">
        <p>Ingenius Solutions LLC</p>
        <p class="text-gray text-sm">
          /Machine Learning, Computer Vision, DevOps, Full stack dev./
        </p>
      </AboutItem>
      <AboutItem title="Software Engineer" duration="(2021-*)">
        <p>SendMN NBFI LLC</p>
        <p class="text-gray text-sm">/Backend & Mobile app development/</p>
      </AboutItem>
      <AboutItem title="Machine Learning Engineer" duration="(2019-2021)">
        <p>Onch Data LLC</p>
        <p class="text-gray text-sm">/Automated ML tool development/</p>
      </AboutItem>

      <p class="about-header">- EDUCATION -</p>
      <AboutItem
        title="Master of Science in Computer Science"
        duration="(Jun 2024)"
      >
        <p>School of Information Technology and Electronics</p>
        <p>National University of Mongolia</p>
      </AboutItem>
      <AboutItem
        title="Bachelor of Science in Computer Science"
        duration="(Jun 2019)"
      >
        <p>School of Engineering and Applied Science</p>
        <p>National University of Mongolia</p>
      </AboutItem>

      <p class="about-header">- EMAIL -</p>
      <p class="mt-2 font-mono text-lg">
        <a
          href="mailto:hello@bilguun.dev"
          class="link"
          target="_blank"
          rel="noreferrer"
        >
          hello@bilguun.dev
        </a>
      </p>
      <p class="about-header">- GITHUB -</p>
      <p class="mt-2 font-mono text-lg">
        <a
          href="https://github.com/bilguun0203"
          class="link"
          target="_blank"
          rel="noreferrer"
        >
          github.com/bilguun0203
        </a>
      </p>
      <NavContainer>
        <NavButton href="/">Back to Homepage</NavButton>
      </NavContainer>
    </main>

    <Footer />
  </div>
</Layout>
