---
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="base-style h-screen">
    <main
      class="container md:max-w-xl px-4 md:px-0 mx-auto flex-grow h-full flex items-center justify-center flex-col font-mono gap-4"
    >
      <p class="about-header uppercase">- bilguun.dev -</p>
      <p>Welcome to my personal webpage!</p>
      <p>
        On this domain, I host a range of projects - from development and
        experimental work to personal interests and spontaneous explorations.
      </p>
      <p>
        You can also explore some of my <a href="/projects"
          >personal projects here</a
        > or learn more <a href="/about">about me</a>.
      </p>
    </main>
    <Footer />
  </div>
</Layout>
