---
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="base-style h-screen">
    <main
      class="container mx-auto flex h-full flex-grow flex-col items-start justify-center gap-4 px-4 font-mono md:max-w-xl md:px-0"
    >
      <p class="about-header"><span>Hello</span>, I'm Bilguun.</p>
      <ul class="list-none">
        <li>- CS Lecturer @ <a href="https://site.num.edu.mn/">NUM</a></li>
        <li>
          - AI Engineer @ <a href="https://rookies.mn/">Rookie Systems</a>
        </li>
      </ul>
      <p>
        You can check out some of my <a href="/projects">projects</a>
        <br />or learn more <a href="/about">about me</a>.
      </p>
    </main>
    <Footer />
  </div>
</Layout>
